/* ---- HOME PAGE ---- */
body {
  font-family: "Roboto", sans-serif;
  color: rgba(33, 33, 33, 1);
}

.container {
  max-width: 1200px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline;
}

.webstudio {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 215px;
}

.web,
.studio-header,
.studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.web {
  color: rgba(33, 150, 243, 1);
}

:root {
  --studio-header-color: rgba(33, 33, 33, 1);
  --studio-footer-color: rgba(255, 255, 255, 1);
}

.studio-header {
  color: var(--studio-header-color);
}

.studio-footer {
  color: var(--studio-footer-color);
}

header {
  box-sizing: border-box;
  height: 80px;
}

nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.bookmarks > li > a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  margin-right: 46px;
}

/* .bookmarks > li > a:last-child {
  margin-right: 0;
} */

.bookmarks > li > a:hover {
  color: rgba(33, 150, 243, 1);
}

.contact > li > a {
  font-size: 14px;
  font-weight: 500;
  color: rgba(117, 117, 117, 1);
  margin-right: 50px;
}

/* .contact > li > a:last-child {
  margin-right: 227px;
} */

.contact > li > a:hover {
  color: rgba(33, 150, 243, 1);
}

.main-box {
  background-color: rgba(47, 48, 58, 1);
  padding-top: 280px;
  padding-right: 452px;
  padding-bottom: 280px;
  padding-left: 452px;
}

/* h1 {
  font-size: 44px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.4;
  background-color: rgba(47, 48, 58, 1);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 1142px;
  height: 798px;
  padding-top: 280px;
  padding-right: 452px;
  padding-bottom: 280px;
  padding-left: 452px;
} */

.main-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 44px;
  color: rgba(255, 255, 255, 1);
  line-height: 1.4;
}

.btn-order {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  border-color: #2196f3;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.lorem-main-box {
  display: flex;
  justify-content: center;
}

.lorem-box {
  margin-right: 30px;
}

.lorem-header {
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
}

.lorem-text {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(117, 117, 117, 1);
  box-sizing: border-box;
}

.what-we-do {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

/* .work {
  justify-content: center;
} */

.images-work-what-we-do {
  margin-right: 30px;
}

/* .images-work {
  margin-right: 30px;
} */

.images-team {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.our-team-background {
  background-color: rgba(245, 244, 250, 1);
}
.our-team {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.images-persons {
  display: inline-block;
  /* flex-direction: row; */
  flex-basis: calc((100% - 20px) / 3);
  margin: unset;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

.name {
  font-size: 16px;
  font-weight: bold;
  font-weight: medium;
  justify-content: center;
}

.position-job {
  font-size: 16px;
  font-weight: medium;
  color: rgba(117, 117, 117, 1);
  justify-content: center;
}

footer {
  background-color: rgba(47, 48, 58, 1);
}

address {
  font-style: normal;
}

.city {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 1);
}

/* ---- PAGE PORTFOLIO ----*/
.btn-portfolio > li > button {
  font-size: 16px;
  font-weight: 500;
  font-weight: bold;
  line-height: 1.6;
  background-color: rgba(245, 244, 250, 1);
  border-color: rgba(245, 244, 250, 1);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-portfolio > li > button:hover {
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
}

.design-name {
  font-size: 18px;
  font-weight: 700;
  font-weight: bold;
  line-height: 2;
}

.design-version {
  font-size: 16px;
  line-height: 1.9;
  color: rgba(117, 117, 117, 1);
}
